#### Today Topics
- variable
- data types

#### Variable
- A variable is a container to store the data
- let x=10:10 in a var called x:10 is assigned to x
- **syntax**:name=value/data
- **Identifiers**
    1. var name should not start with either numbers/special chars
    2. no space is allowed in the middle var name(instead you can use _(underscore))

In [6]:
#naming pattern that is easy to understand
name='Ruthu' # name is the var that stores data
age=20 #
gpa=8.5
year="III"
clg='SVEC'
print(name)
print("I am",name)
print("name") # name will be printed
print("jhsdhbfjhsjirf98uwe89re") # message/text

Ruthu
I am Ruthu
name
jhsdhbfjhsjirf98uwe89re

In [9]:
print("Myself",name,"studying",year,"in",clg,'and I got',gpa)

Myself Ruthu studying III in SVEC and I got 8.5

#### print
- print is the pre defined function used to display the output on the screen to the user/programmer
- it can print 2 values
    1. message(text enclosed in the quotations will be printed as it is)
    2. value/data(Doesn't quotations)(variable)

In [14]:
i_am='Hemalatha'
study='3rd year'
age=20
print("myself "+i_am+" studying "+study+'I am'+age+"years old") # concatenation of string

TypeError: can only concatenate str (not "int") to str

In [15]:
print("myself ",i_am,"studying ",study,'I am',age,"years old") # concatenation of string

myself  Hemalatha studying  3rd year I am 20 years old

In [16]:
#you cannot add your name to your age
9+10

19

In [18]:
"ruthu"+"meda"

'ruthumeda'

In [19]:
my name="Kalyan"
print(my name)

SyntaxError: invalid syntax (552446911.py, line 1)

In [21]:
# Declaring multiple variables
#variables followed by data:LHS(vars)=RHS(data)
first,second=10,15
me,frnd='Ruthu','Vanitha'
print(first,second)
print("I am",me,frnd,"is my friend")

10 15
I am Ruthu Vanitha is my friend

In [22]:
x=15
y=15
z=15
#single value to multi variables
#x=y=z
x,y,z # returns to the interpreter in the background

(15, 15, 15)

In [23]:
x=y=z=30
x,y,z

(30, 30, 30)

### Data Types
- the type of data
    1. integers,float,boolean,string,imaginary(complex)

In [33]:
#static variables(value stored remains constant/same to the entire page)
val=10
gpa=9.5
name="Lakshmi"
dec=True
im=3+4j
#val,gpa,name,dec,im
print(type(val))
print(type(gpa))
print(type(name))
print(type(dec))
print(type(im))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [27]:
# type() is the predefined function to check the datatype of variable
print(type(val))

int

In [34]:
val

10

In [35]:
name

'Lakshmi'

In [36]:
gpa

9.5

#### Dynamic data reading from user/keyboard
- input() to read the input from keyboard/user by default

In [42]:
myself=input("enter your name:")
print("I am",myself)

enter your name:harish
I am harish

In [43]:
myself

'harish'

In [37]:
gpa

9.5

In [38]:
name

'Lakshmi'

#### Datatype conversion
- conversion of data type of variable from one format to another
- 2types of type conversion/type casting
    1. Implicit conversion
        - default conversion by the interpreter
    2. Explicit conversion
        - conversion by the user/programmer

In [45]:
#read int,float
val

10

In [46]:
float(val) # explicit conversion

10.0

In [47]:
90+934.8 # int+float:float:implicit conversion

1024.8

In [49]:
#similarly
int("hi")

ValueError: invalid literal for int() with base 10: 'hi'

In [50]:
int('Ruthu')

ValueError: invalid literal for int() with base 10: 'Ruthu'

In [51]:
int("90")

90

In [55]:
#input() # reads str data by default
n=int(input('value:')) # explicit conversion
print(n)

value:89
89

In [56]:
new=int(input())
print(new)

ruthu

ValueError: invalid literal for int() with base 10: 'ruthu'

In [57]:
marks=float(input())
print("I got",marks)

90.45
I got 90.45

In [58]:
#binary digits
bin(10)

'0b1010'

In [59]:
bool(23)

True

In [60]:
bool(-9)

True

In [61]:
# come with the solution
#how to convert binary to int?
#can we read binary digits directly from user?

#### Operators
- anything that operates/performs an operation on operands
- ex:a+b:+ is the operator performs addition op'n on operands a and b
- **Types of operators**
    1. arithmetic operators
        - +,-,/,*,** (exponential),%
    2. assignment
        - =,+=,-=,/=,*/
    3. boolean
        - True,False,None
    4. bitwise
        - | (or), & (and), ^ (XOR)
    5. comparisional/relational
        - <,<=,>,>=,==,!=
    6. identity
        - is, is not
    7. membership
        - in, not in
    8. op'rs used in print()
        - end,sep
    9. logical operators
        - and,or,not

In [62]:
9+10 # (a+b)

19

In [64]:
#read 2 integers from user and perform all the arithmetic operations
# bitwise
#comparisional/realtional
first,second=int(input('first value:')),int(input("second value:"))
print("arithmetic operations results in ")
print("sum=",first+second)
print("difference=",first-second)
print("product=",first*second)
print("coefficient=",first/second)
print("integer division=",first//second)
print("exponential=",first**second)
print("remainder=",first%second)

first value:9
second value:4
arithmetic operations results in
sum= 13
difference= 5
product= 36
coefficient= 2.25
integer division= 2
exponential= 6561
remainder= 1

In [65]:
9/4

2.25

In [66]:
9//4

2

+ and *  on both string and integers

In [67]:
90+89 # summation

179

In [68]:
"hi"+'hello' # concatenation(arranging side by side)

'hihello'

In [69]:
4*8

32

In [70]:
4*'c'

'cccc'

In [72]:
n=int(input())
m=int(input())
ch=input()
print(n*ch)
print(n*m)

9
90
r
rrrrrrrrr
810